<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 mb-5 text-center">
      Welcome to your GitLab overview!
    </h1>
  </div>
</div>
<div class="container d-flex justify-content-center">
      <p>
        <a class="btn btn-secondary" href="./user/auth" role="button">
          <img src="/images/gitlabLogoSmall.png" alt="GitLab Logo" class="btn-img">
          Login with Gitlab.lnu.se
        </a>
      </p>
</div>
<!-- /container -->
