<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4 mb-5 text-center">
      Welcome to your GitLab overview!
    </h1>
  </div>
</div>
<div class="container d-flex justify-content-center">
      <p>
         This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. This is the home page of this web aplication. Description text goes here. 
      </p>
</div>
<!-- /container -->
